{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
    <header>
        <div class="content">
            {% if money == True %}
                You don't have enough money. Please try another symbol or amount of it.
            {% elif symbol == True %}
                Symbol is undefined. Please try another symbol.
            {% else %}
                Please choose symbol for buying.
            {% endif %}
        </div>
    </header>
    <form action="/buy" method="post" onSubmit="return check_buy_from();">
        <div class="form-group">
            <input id="symbol" autocomplete="off" autofocus class="form-control" name="symbol" placeholder="Symbol" type="text">
            <div id="symbol_error" class="form_error hidden">
                Enter any symbol to buy.
            </div>
        </div>
        <div class="form-group">
            <input id="shares" autocomplete="off" autofocus class="form-control" name="shares" placeholder="Shares" type="number">
            <div id="shares_error" class="form_error hidden">
                Shares shouldn't be empty or less than 0.
            </div>
        </div>
        <button class="btn btn-dark" style="width: 20%;" type="submit">Buy</button>
    </form>
{% endblock %}